aside {
    float: left;
    width: 25%;
    box-sizing: border-box;
    padding-left: 20px;
}

.aside-item {
    background-color: #FDF2FF;
    margin-bottom: 20px;
}

.aside-item:last-of-type {
    margin-bottom: 0;
}

.content-aside {
    padding: 10px;
}

