header {
    width: 100%;
    height: 70px;
    background-color: #282536;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1.1em;
    position: fixed;
    z-index: 1;
}


nav {
    margin-right: auto;
}



.content-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    padding: 0 5px;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:hover {
    color: #CA6D75;
}

.nav-item:last-of-type {
    margin-right: 0;
}
