main {
    min-height: 2000px;
    float: left;
    background-color: #FDF2FF;
    width: 75%;
    box-sizing: border-box;

}

.content-main {
    margin: 10px;
}


.main-block {
    margin-bottom: 30px;
    padding-top: 100px;
}