main {
    min-height: 2000px;
    float: left;
    background-color: #FDF2FF;
    width: 75%;
    box-sizing: border-box;

}

.content-main {
    margin: 10px;
}


.main-block {
    margin-bottom: 30px;
    padding: 100px 20px 0;
}


.string-field {
    width: 100%;
    line-height: 34px;
    font-size: 15px;
    padding: 0 5px;
}


.form-group {
    margin-bottom: 20px;
}