main {
    min-height: 100%;
    float: left;
    width: 75%;
    box-sizing: border-box;

}

.main-item {
    background-color: #FDF2FF;
    margin-bottom: 20px;
}

.main-item:last-of-type {
    margin-bottom: 0;
}

.content-main-item {
    padding: 20px;
}


.main-block {
    margin-bottom: 30px;
    padding: 100px 20px 0;
    min-height: 100%;
}


.string-field {
    width: 100%;
    line-height: 34px;
    font-size: 15px;
    padding: 0 5px;
    border: 1px solid #1c1056;
}


.string-field:focus {
    border: 1px solid #282536;
}


.form-group {
    margin-bottom: 20px;
}


.red-button {
    background-color: #CA6D75;
}

.red-button:hover {
    background-color: #a93d46;
}


.green-button {
    background-color: #1BCA08;
}


.green-button:hover {
    background-color: #149306;
}


.blue-button {
    background-color: #371fa9;
}


.blue-button:hover {
    background-color: #1c1056
}


.disable-button, .disable-button:hover {
    background-color: #434343;
}


.create-post {
    padding: 10px;
    text-align: center;
}


.create-post a {
    padding: 10px;
    display: inline-block;
    border: 2px dashed #282536;
    color: #282536;
    width: 100%;
}


.create-post a:hover {
    border-color: #8056ff;
    color: #371fa9;
}


.page-link {
    padding: 10px;
    border: 1px solid #282536;
}