@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "header.css";
@import "main.css";
@import "aside.css";
@import "footer.css";


html {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #FDF2FF;
}


body {
    margin: 0;
    background-color: #B4B6CE;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: table;
}


.shadow {
    box-shadow: -0.4vw -0.4vw 0 #282536;
}


.button-link {
    padding: 10px;
    border: none;
    font-size: 1.1em;
    color: #FDF2FF;
}


.content-header, .content-footer {
    max-width: 1700px;
    margin: 0 auto;
}


.v-wrapper {
    display: table-cell;
    vertical-align: middle;
}


.h-wrapper {
    margin: 0 auto;
    padding: 15px;
}


.flashes {
    position: fixed;
    z-index: 2;
    bottom: -10px;
    right: 10px;
}

.flashes li {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    color: #FDF2FF;
    display: flex;
    align-items: center;
}


.flashes .danger {
    background-color: #a93d46;
}

.flashes .success {
    background-color: #149306;
}


.flashes .warning {
    background-color: #ffac41;
}


.flashes .close-flash {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 1.25em;
}


.registration-form, .registration-title {
    text-align: center;
}

.g-recaptcha div {
    margin: 0 auto;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}