@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import "header.css";
@import "main.css";
@import "aside.css";
@import "footer.css";
@import "registration.css";


html {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #FDF2FF;
}


body {
    margin: 0;
    background-color: #B4B6CE;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: table;
}


.shadow {
    box-shadow: -0.4vw -0.4vw 0 #282536;
}


.button-link {
    padding: 10px;
    border: none;
    font-size: 1.25em;
    color: #FDF2FF;
}


.content-header, .content-footer {
    max-width: 1700px;
    margin: 0 auto;
}


.v-wrapper {
    display: table-cell;
    vertical-align: middle;
}


.h-wrapper {
    margin: 0 auto;
    padding: 15px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}