* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-size: 30px;
}


header {
    width: 100%;
    height: 200px;
    background-color: grey;
    margin-bottom: 10px;
    padding: 10px;
}


main {
    min-height: 500px;
    float: left;
    background-color: grey;
    width: 70%;
    box-sizing: border-box;
}

.content-main {
    margin: 10px;
}

aside {
    min-height: 500px;
    float: left;
    width: 30%;
    box-sizing: border-box;
    padding-left: 10px;
}

footer {
    min-width: 100%;
    min-height: 300px;
    background-color: grey;
    padding: 10px;
}

.content-header, .content-footer {
    max-width: 1700px;
    margin: 0 auto 0;
}

.content-aside {
    margin: 10px;
}


.aside {
    background-color: grey;
}

.aside1 {
    width: 100%;
    min-height: 150px;
}

.aside2 {
    width: 100%;
    height: 50%;
}


.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}

.content {
    margin-bottom: 10px;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}