.avatar-block {
    position: relative;
    display: inline-block;
    width: 25%;
    margin-bottom: 20px;
}


.user-avatar {
    width: 100%;
    border: 2px solid #282536;
}

.input-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.hover-avatar {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #282536ad;
    padding: 10px;
    font-size: 1.3em;
    line-height: 30px;
}


.avatar-block:hover .hover-avatar {
    display: flex;
}


.info-block {
    display: inline-block;
    padding-left: 40px;
    width: 75%;
}

.user-settings {
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.info-elem {
    margin-bottom: 20px;
}

.info-elem:last-of-type {
    margin-bottom: 0;
}


.active-span {
    color: #1BCA08;
    font-weight: bolder;
}


.not-active-span {
    color: #a93d46;
    font-weight: bolder
}


.info-block .title-button {
    font-size: 1.15em;
    margin-top: 5px;
}


.modal-window {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.modal-content {
    margin: 0;
    background: #B4B6CE;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 2px solid #282536;
    min-width: 400px;
}


.modal-window .close-model {
    padding: 5px 10px 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.15em;
}


.modal-window .close-model:focus {
    outline: none;
}


.modal-visible {
    display: block;
}


.importance-block {
    width: 25%;
    text-align: center;
}

.importance-block select {
    width: 65%;
    font-size: 1.15em;
    margin-right: 5px;
}

.importance-block button {
    color: #FDF2FF;
    font-size: 1.15em;
}

.user-table,
.post-table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}


.user-table th,
.post-table th {
    padding-bottom: 10px;
}

.user-table td,
.post-table td {
    padding: 10px 0 10px;
    border-bottom: 1px solid rgba(130, 124, 130, 0.4);
}

.user-table tr:last-of-type td,
.post-table tr:last-of-type td {
    border: none;
}


.user-table a,
.post-table a {
    color: inherit;
    border-bottom: 1px solid #282536;
}
