.avatar-block {
    position: relative;
    display: inline-block;
    width: 25%;
    margin-bottom: auto;
}


.user-avatar {
    width: 100%;
    border: 2px solid #282536;
}

.input-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}


.hover-avatar {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #282536ad;
    padding: 10px;
    font-size: 1.3em;
    line-height: 30px;
}


.avatar-block:hover .hover-avatar {
    display: flex;
}


.info-block {
    display: inline-block;
    padding-left: 40px;
    width: 74%;
}

.user-settings {
    margin: 40px;
    display: flex;
}



.info-elem {
    margin-bottom: 20px;
}

.info-elem:last-of-type {
    margin-bottom: 0;
}


.active-span {
   color: #1BCA08;
}


.not-active-span {
    color: #a93d46;
    font-weight: bolder
}


.info-block button {
    font-size: 1.15em;
    margin-top: 5px;
}

