<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <div class="content-header">
        <nav>
            <a href="#" class="nav-item">Главная</a>
            <a href="#" class="nav-item">Последние новости</a>
            <a href="#" class="nav-item">Пункт 4</a>
            <a href="#" class="nav-item">Алаляй</a>
        </nav>
    </div>
</header>

<div class="main-block">
    <div class="wrapper clearfix">
        <main>
            <div class="content-main">
                <span>Main</span>
            </div>
        </main>
        <aside>
            <div class="aside-item aside1">
                <div class="title-aside">
                    <span>Sidebar 1</span>
                </div>
                <div class="content-aside">
                    <span>Content sidebar1</span>
                </div>
            </div>
            <div class=" aside-item aside2">
                <div class="title-aside">
                    <span>Sidebar 2</span>
                </div>
                <div class="content-aside">
                    <span>Content sidebar2</span>
                </div>
            </div>
        </aside>
    </div>
</div>

<footer>
    <div class="content-footer">
        <span>Footer</span>
    </div>
</footer>

</body>
</html>