<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"
            integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo="
            crossorigin="anonymous"></script>
</head>
<body>

<header>
    {% include 'header.html' %}
</header>


<div class="main-block">
    <div class="h-wrapper" style="max-width: 1500px">
        {% block main %}
            {% include 'main.html' %}
        {% endblock %}
    </div>
</div>

<footer>
    {% include 'footer.html' %}
</footer>

{% include 'flash.html' %}
</body>
</html>