<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="v-wrapper">
    <div class="h-wrapper shadow" style="max-width: 450px; border: 2px solid #282536;">
        <div class="form-container">
            <a href="{{ url_for('index') }}" class="main-link">
                &lArr; На главную</a>
            <h2 class="form-title">{{ title }}</h2>
            {% block form %}

            {% endblock %}
        </div>
    </div>
</div>
{% include 'flash.html' %}
</body>
</html>

