{% extends 'base.html' %}



{% block main %}
    <div class="main-item shadow">
        <div class="content-main-item">
            <h2>Обратная связь</h2>
            {% if current_user.is_authenticated %}
                {% if current_user.confirmed %}
                    <form id="feedback-form">
                        <div class="form-group">
                            <div id="editor" class="feedback-field"
                                 style="background-color: #B4B6CE"></div>
                        </div>
                        <div style="text-align: right">
                            <input type="submit"
                                   class="form-field submit-field button-link red-button">
                        </div>
                    </form>
                {% else %}
                    <div style="text-align: center">
                        <h3 style="color: #827c82">Подтвердите ваш аккаунт</h3>
                    </div>
                {% endif %}
            {% else %}
                <div style="text-align: center">
                    <h3 style="color: #827c82">Авторизуйтесь</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='ckeditor5_comment/build/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
{% endblock %}