{% with messages = get_flashed_messages(with_categories=true) %}
    <ul class=flashes>
        {% if messages %}
            {% for category, message in messages %}
                <li class="flash-item {{ category }}">
                    <button class="close-flash">&#x2716;</button>
                    <span class="message-flash">{{ message }}</span>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endwith %}
<template id="flash-item">
    <li class="flash-item">
        <button class="close-flash">&#x2716;</button>
        <span class="message-flash"></span>
    </li>
</template>
<script src="{{ url_for('static', filename='js/flash.js') }}"></script>