{% extends 'base.html' %}

{% block title %}
    Блог новостей
{% endblock %}


{% block main %}
    {% if current_user.is_authenticated %}
        {% if current_user.importance == 1 or current_user.importance == 2 %}
            <div class="main-item shadow create-post">
                <a href="{{ url_for('post.new_post') }}">Создать запись</a>
            </div>
        {% endif %}
    {% endif %}
    {% for post in posts %}
        <div class="main-item shadow">
            <div class="content-main-item">
                <h2>{{ post.title }}</h2>
                <div class="ck-content clearfix">
                    {{ post.content|safe }}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="main-item shadow">
        <div class="content-main-item">
            <h2>Content Main1</h2>
        </div>
    </div>
    <div class="main-item shadow">
        <div class="content-main-item">
            <h2>Content Main2</h2>
        </div>
    </div>
{% endblock %}