{% extends 'base.html' %}

{% block title %}
    Блог новостей
{% endblock %}


{% block main %}
    {% if current_user.is_authenticated %}
        {% if current_user.importance == 1 or current_user.importance == 2 %}
            <div class="main-item shadow create-post">
                <a href="{{ url_for('post.new_post') }}">Создать запись</a>
            </div>
        {% endif %}
    {% endif %}
    {% if posts %}
        {% for post in posts.items %}
            <div class="main-item shadow">
                <div class="content-main-item">
                    <h2>{{ post.title }}</h2>
                    {{ post.publication_date }}
                    <div class="ck-content clearfix">
                        {{ post.content|safe }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="paginate" style="text-align: right">
            {% if posts.has_prev %}
                <a class="page-link" href="{{ url_for('index', page=posts.prev_num) }}"><</a>
            {% endif %}
            {% for page in posts.iter_pages(left_edge=1, left_current=1, right_current=2, right_edge=1) %}
                {% if page %}
                    {% if page != posts.page %}
                        <a class="page-link" href="{{ url_for('index', page=page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>…</span>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <a class="page-link" href="{{ url_for('index', page=posts.next_num) }}">></a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}