{% extends 'base_form.html' %}
{% block form %}
    <form method="post" class="login-form">
        {{ authorization_form.hidden_tag() }}
        <div class="form-group">
            {{ authorization_form.login(class='form-field string-field',
                     placeholder=authorization_form.login.label.text) }}
        </div>
        <div class="form-group">
            {{ authorization_form.password(class='form-field string-field',
                     placeholder=authorization_form.password.label.text) }}
        </div>
        <div class="form-group">
            {{ authorization_form.remember(class='form-field boolean-field') }}
            {{ authorization_form.remember.label }}
        </div>
        <div class="form-group">
            {{ authorization_form.submit(class='form-field submit-field button-link green-button') }}
        </div>
    </form>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/authorization.js') }}"></script>
{% endblock %}




