<div class="clearfix">
    <main class="shadow">
        <div class="content-main">
            <span>Main</span>
        </div>
    </main>
    <aside>
        <div class="aside-item aside1 shadow">
            <div class="title-aside">
                <span>Sidebar 1</span>
            </div>
            <div class="content-aside">
                <span>Content sidebar1</span>
            </div>
        </div>
        <div class=" aside-item aside2 shadow">
            <div class="title-aside">
                <span>Sidebar 2</span>
            </div>
            <div class="content-aside">
                <span>Content sidebar2</span>
            </div>
        </div>
    </aside>
</div>