{% extends 'base.html' %}

{% block main %}
    <div class="main-item shadow">
        <div class="content-main-item">
            <div class="editor">
                <p>TExt</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    <script src="{{ url_for('static', filename='ckeditor5/build/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/creator.js') }}"></script>
{% endblock %}
