{% extends 'base.html' %}

{% block main %}
    <div class="main-item shadow">
        <div class="content-main-item">
            <h2>Новая запись</h2>
            <form method="post" id="ckeditor-form">
                <div class="form-group">
                    <input type="text" id="title-post" name="title-post"
                           class="form-field string-field" placeholder="Заголовок"
                           style="font-size: 1.15em" required>
                </div>
                <div class="form-group">
                     <textarea name="content" id="editor" placeholder="Контент" required>
                </textarea>
                </div>
                <div style="text-align: right">
                    <input type="submit" value="Опубликовать"
                           class="button-link blue-button">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://ckeditor.com/apps/ckfinder/3.5.0/ckfinder.js"></script>
    <script src="{{ url_for('static', filename='ckeditor5/build/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/creator.js') }}"></script>
{% endblock %}
