{% extends 'base_form.html' %}
{% block form %}
    <form method="post" id="recovery-password-form">
        {{ recovery_form.hidden_tag() }}
        <div class="form-group">
            {{ recovery_form.email(class='form-field string-field',
                     placeholder=recovery_form.email.label.text) }}
        </div>
        <div class="form-group">
            {{ recovery_form.submit(class='form-field submit-field button-link green-button') }}
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/recovery_password_first.js') }}"></script>
{% endblock %}