{% extends 'base_form.html' %}
{% block form %}
    <form method="post" class="registration-form">
        {{ register_form.hidden_tag() }}
        <div class="form-group">
            {{ register_form.nickname(class='form-field string-field',
                     placeholder=register_form.nickname.label.text) }}
        </div>
        <div class="form-group">
            {{ register_form.login(class='form-field string-field',
                     placeholder=register_form.login.label.text) }}
        </div>
        <div class="form-group">
            {{ register_form.email(class='form-field string-field',
                     placeholder=register_form.email.label.text) }}
        </div>
        <div class="form-group">
            {{ register_form.password(class='form-field string-field',
                     placeholder=register_form.password.label.text) }}
        </div>
        <div class="form-group">
            {{ register_form.repeat_password(class='form-field string-field',
                     placeholder=register_form.repeat_password.label.text) }}
        </div>
        <div class="form-group recaptcha">
            {{ register_form.recaptcha_field }}
        </div>
        <div class="form-group">
            {{ register_form.submit(class='form-field submit-field button-link red-button') }}
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/registration.js') }}"></script>
{% endblock %}


