{% extends 'base.html' %}

{% block title %}
    Блог новостей
{% endblock %}


{% block main %}
    <div class="main-item shadow">
        <div class="content-main-item">
            <h1>Пользователь: {{ user.login }}</h1>
            <div class="user-settings">
                <div class="avatar-block">
                    <img class="user-avatar shadow"
                         src="{{ url_for('static', filename='img/users_avatar/default-user-avatar.png') }}"
                         alt="default-user-avatar.jpg">
                    {% if current_user.get_id() == user.get_id() %}
                        <div class="hover-avatar">
                            <span style="color: #FDF2FF">Выбрать изображение</span>
                        </div>
                        <input accept="image/*" class="input-image" id="input-image"
                               name="image" title="" type="file">
                    {% endif %}
                </div>
                <div class="info-block">
                    <div class="info-elem">
                        {% if user.confirmed %}
                            <span class="active-span">Аккаунт подтвержден</span>
                        {% else %}
                            <span class="user-span-button not-active-span">Аккаунт не подтвержден</span>
                            {% if current_user.get_id() == user.get_id() %}
                                <br>
                                <button class="button-link green-button" id="activate-button">
                                    Подтвердить аккаунт
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="info-elem">
                        <span>Никнейм: {{ user.nickname }}</span>
                    </div>
                    <div class="info-elem">
                        <span>Почта: {{ user.email }}</span>
                    </div>
                    <div class="info-elem sub-block" id="sub-block">
                        {% if user.subscription %}
                            <div class="sub-active">
                                <span class="user-span-button active-span">Подписка подключена</span>
                                {% if current_user.get_id() == user.get_id() %}
                                    <br>
                                    <button class="button-link red-button" id="subscribe-button">
                                        Отключить подписку
                                    </button>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="sub-not-active">
                                <span class="user-span-button not-active-span">Подписка не подключена</span>
                                {% if current_user.get_id() == user.get_id() %}
                                    <br>
                                    <button class="button-link green-button"
                                            id="subscribe-button">
                                        Подключить подписку
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="info-elem">
                        <span>Дата регистрации: {{ user.registration_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <template id="subscribe-off">
        <div class="sub-active">
            <span class="active-span">Подписка подключена</span>
            {% if current_user.get_id() == user.get_id() %}
                <br>
                <button class="button-link red-button"
                        id="subscribe-button">
                    Отключить подписку
                </button>
            {% endif %}
        </div>
    </template>
    <template id="subscribe-on">
        <div class="sub-not-active">
            <span class="not-active-span">Подписка не подключена</span>
            {% if current_user.get_id() == user.get_id() %}
                <br>
                <button class="button-link green-button"
                        id="subscribe-button">
                    Подключить подписку
                </button>
            {% endif %}
        </div>
    </template>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}


