{% extends 'base.html' %}

{% block title %}
    Блог новостей
{% endblock %}


{% block main %}
    <div class="main-item shadow">
        <div class="content-main-item">
            {% if user.importance == 0 %}
                <h1>Пользователь: {{ user.login }}</h1>
            {% elif user.importance == 1 %}
                <h1>Модератор: {{ user.login }}</h1>
            {% elif user.importance == 2 %}
                <h1>Администратор: {{ user.login }}</h1>
            {% endif %}
            <div class="user-settings">
                <div class="avatar-block">
                    {% if user.image_file %}
                        <img class="user-avatar shadow"
                             src="{{ url_for('static', filename=user.image_file) }}"
                             alt={{ user.image_file }}>
                    {% else %}
                        <img class="user-avatar shadow"
                             src="{{ url_for('static', filename='img/users_avatar/default-user-avatar.png') }}"
                             alt="default-user-avatar.jpg">
                    {% endif %}
                    {% if current_user.get_id() == user.get_id() %}
                        <div class="hover-avatar">
                            <span style="color: #FDF2FF">Выбрать изображение</span>
                        </div>
                        <input accept="image/*" class="input-image" id="input-image"
                               name="image" title="" type="file" formenctype="multipart/form-data">
                    {% endif %}
                </div>
                <div class="info-block">
                    <div class="info-elem">
                        {% if user.confirmed %}
                            <span class="active-span">Аккаунт подтвержден</span>
                            {% if current_user.get_id() == user.get_id() %}
                                <button class="edit-button" id="open-model-password">Изменить
                                    пароль...
                                </button>
                                <div class="modal-window" id="password-modal" hidden>
                                    <div class="modal-content shadow">
                                        <div style="text-align: right">
                                            <button class="close-model">&#x2716;</button>
                                        </div>
                                        <div class="title-modal" style="text-align: center">
                                            <h3 style="margin-top: 0">Новый пароль</h3>
                                        </div>
                                        <div class="form-container">
                                            <form class="password-form">
                                                <div class="form-group">
                                                    <input type="password" name="old_password"
                                                           id="old_password"
                                                           placeholder="Старый пароль"
                                                           class="form-field string-field"
                                                           required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password"
                                                           id="password"
                                                           placeholder="Новый пароль"
                                                           class="form-field string-field"
                                                           required>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="repeat_password"
                                                           id="repeat_password"
                                                           placeholder="Новый пароль"
                                                           class="form-field string-field"
                                                           required>
                                                </div>
                                                <div class="form-group">
                                                    <input class="form-field submit-field button-link green-button"
                                                           type="submit" value="Изменить">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <span class="user-span-button not-active-span">Аккаунт не подтвержден</span>
                            {% if current_user.get_id() == user.get_id() %}
                                <br>
                                <button class="button-link green-button title-button"
                                        id="activate-button">
                                    Подтвердить аккаунт
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="info-elem">
                        <span id="nickname">Никнейм: {{ user.nickname }}</span>
                        {% if current_user.get_id() == user.get_id() %}
                            <button class="edit-button" id="open-model-nickname">Изменить
                                никнейм...
                            </button>
                            <div class="modal-window" id="nickname-modal" hidden>
                                <div class="modal-content shadow">
                                    <div style="text-align: right">
                                        <button class="close-model">&#x2716;</button>
                                    </div>
                                    <div class="title-modal" style="text-align: center">
                                        <h3 style="margin-top: 0">Никнейм</h3>
                                    </div>
                                    <div class="form-container">
                                        <form class="nickname-form">
                                            <div class="form-group">
                                                <input type="text" name="nickname" id="nickname"
                                                       placeholder="Никнейм"
                                                       class="form-field string-field"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-field submit-field button-link green-button"
                                                       type="submit" value="Изменить">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="info-elem">
                        <span id="email">Почта: {{ user.email }}</span>
                        {% if current_user.get_id() == user.get_id() %}
                            <button class="edit-button" id="open-model-email">Изменить почту...
                            </button>
                            <div class="modal-window" id="email-modal">
                                <div class="modal-content shadow">
                                    <div style="text-align: right">
                                        <button class="close-model">&#x2716;</button>
                                    </div>
                                    <div class="title-modal" style="text-align: center">
                                        <h3 style="margin-top: 0">Почта</h3>
                                    </div>
                                    <div class="form-container">
                                        <form class="email-form">
                                            <div class="form-group">
                                                <input type="email" name="email" id="email"
                                                       placeholder="Новая почта"
                                                       class="form-field string-field">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-field submit-field button-link green-button"
                                                       type="submit" value="Изменить">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="info-elem">
                        <span>Дата регистрации: {{ user.registration_date }}</span>
                    </div>
                    <div class="info-elem sub-block" id="sub-block">
                        {% if user.subscription %}
                            <div class="sub-active">
                                <span class="user-span-button active-span">Подписка подключена</span>
                                {% if current_user.get_id() == user.get_id() %}
                                    <br>
                                    <button class="button-link red-button title-button"
                                            id="subscribe-button">
                                        Отключить подписку
                                    </button>
                                {% endif %}
                            </div>
                        {% else %}
                            <div class="sub-not-active">
                                <span class="user-span-button not-active-span">Подписка не подключена</span>
                                {% if current_user.get_id() == user.get_id() %}
                                    <br>
                                    <button class="button-link green-button title-button"
                                            id="subscribe-button">
                                        Подключить подписку
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <template id="subscribe-off">
        <div class="sub-active">
            <span class="active-span">Подписка подключена</span>
            {% if current_user.get_id() == user.get_id() %}
                <br>
                <button class="button-link red-button title-button"
                        id="subscribe-button">
                    Отключить подписку
                </button>
            {% endif %}
        </div>
    </template>
    <template id="subscribe-on">
        <div class="sub-not-active">
            <span class="not-active-span">Подписка не подключена</span>
            {% if current_user.get_id() == user.get_id() %}
                <br>
                <button class="button-link green-button title-button"
                        id="subscribe-button">
                    Подключить подписку
                </button>
            {% endif %}
        </div>
    </template>
{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/user.js') }}"></script>
{% endblock %}


